


/*=====================================
            FOOTER PART STYLE
======================================*/
.footer-part{
    padding: 100px 0px 100px;
}

.footer-logo {
    text-align: center;
    margin-bottom: 50px;

    a {
        img {
            width: 160px;
        }
    }
}

.footer-icon {
    @include flex__center;
    margin-bottom: 55px;

    li {
        margin: 0px 15px;

        .icon-inline {
            background: $icon__bg;

            &:hover {
                background: $brand__color;
            }
        }
    }
}

.footer-text {
    @include flex__center;

    li {
        padding: 0px 25px;
        border-right: 2px solid #999999;

        &:last-child {
            border-right: none;
        }

        h6 {
            font-weight: 400;

            span {
                color: $brand__color;
            }

            a {
                color: $brand__color;
            }
        }
    }
}

// FOOTER RESPONSIVE STYLE

@media (max-width: 767px) {
    .footer-part {
        padding: 60px 0px;
    }

    .footer-logo {
        a {
            img {
                width: 145px;
            }
        }
    }

    .footer-icon {
        margin-bottom: 45px;

        li {
            margin: 0px 10px;
        }
    }

    .footer-text {
        flex-direction: column;

        li {
            padding: 0px;
            border: none;
            margin: 5px 0px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer-part {
        padding: 60px 0px;
    }
}