


/*=====================================
         INNER BANNER PART STYLE
======================================*/
.inner-banner {
    background: url(../../images/inner-bg.jpg);
    @include background__property;
}

.inner-oly {
    background: rgba(209, 65, 40, 0.9);
    padding: 98px 0px 175px;
}

.inner-content {
    text-align: center;

    h1 {
        font-size: 38px;
        line-height: 46px;
        color: $wh__color;
        text-transform: capitalize;
        letter-spacing: 0.5px;
        margin-bottom: 15px;
    }
}

// INNER BANNER RESPONSIVE STYLE 

@media (max-width: 575px) {
    .inner-oly {
        padding: 60px 0px 118px;
    }

    .inner-content {
        h1 {
            font-size: 35px;
            line-height: 43px;
        }
    }
}