

// =====================================
//       ALL TYPOGRAPHY VARIABLES
//======================================
$h1__size: 35px;
$h2__size: 35px;
$h3__size: 32px;
$h4__size: 22px;
$h5__size: 18px;
$h6__size: 16px;
$body__size: 16px;

$regular__weight: 400;
$medium__weight: 500;
$semi__weight: 600;
$bold__weight: 700;

$primary__family: 'Poppins', sans-serif;

// =====================================
//         ALL COLOR VARIABLES
//======================================
$wh__color: #f3f3f3;
$body__color: #dddddd;
$icon__color: #555555;
$light__color: #e7e7e7;
$brand__color: #fe6347;
$border__color: #444444;
$heading__color: #f5f5f5;
$placeholder__color: #777777;
$light__hover__color: #dfdfdf;

$btn__bg: #48455a;
$icon__bg: #48455a;
$body__bg: #232338;
$card__bg: #252549;
$navbar__bg: #202032;
$banner__bg: #202032;
$dropdown__bg: #2b2c41;

$card__blur__icon: #524c5f;
$resume__card__meta: #e44a00;
$pricing__hover__border: #ff9683;

$primary__gradient: linear-gradient(#fe6347, #ee563b);

// =====================================
//         ALL SHADOW VARIABLES
//======================================
// BOX SHADOW
$primary__box__shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.08);
$secondary__box__shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);

// TEXT SHADOW
$primary__text__shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
